html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  direction: ltr;
  width: inherit;
  height: inherit;
  margin: 0;
  background-color: rgb(241, 241, 243);
  -webkit-appearance: none;
  appearance: none;
}
body, input, button {
  font-family: 'Lato', 'Arial Unicode MS', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 2em;
  vertical-align: inherit;
}

.header {
  background-color: #4A5A66;
  border-bottom: 2px solid #737373;
  box-shadow: 0 0 2px 0 rgb(67 74 84);
  display: flex;
  padding-top: 4px;
  padding-left: 16px;
}
.header > div {
  border-spacing: 0;
  height: 58px;
}
.header.title {
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}
.gwt-Anchor {
  cursor: pointer;
}
.content {
  height: calc(100% - 60px);
  vertical-align: top;
  display: flex;
  flex-flow: wrap;
}

.left {
  width: unset;
  background-color: rgba(54, 71, 79, .07);
  color: rgba(241, 241, 243, 1);
  flex-grow: 0;
  flex-shrink: 0;
}
.menuPlate {
  cursor: pointer;
  text-align: left;
  position: relative;
  border-top: 1px solid #e4e5e7;
  border-bottom: 1px solid #e4e5e7;
}
.menuPlate.divider {
  color: #a5a5a5;
  font-size: 17px;
  padding-left: 17px;
  padding-top: 35px;
  padding-bottom: 5px;
  opacity: 0;
}
.left:hover > .menuPlate.divider {
  opacity: 1;
}
.menuPlate:not(.divider):hover {
  background-color: #f1f1f3;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  border-color: #d70f37;
}
.appBar {
  padding-top: 25px;
  box-sizing: border-box;
  height: inherit;
  position: relative;
}
.appBar > div {
  position: relative;
}
.appBar > div.free:hover:after {
  position: absolute;
  top: 19px;
  right: 15px;
  font-size: 22px;
  line-height: 22px;
  color: #36474f;
  content: '\2924';
}
.app {
  height: 70px;
  width: 70px;
  overflow: hidden;
  transition: .6s width;
}
.left:hover > .appBar > .app {
  width: 300px;
}
.appName {
  margin: 8px 0;
  padding-left: 70px;
  padding-bottom: 7px;
  padding-top: 7px;
  font-size: 16px;
  color: #353535;
  overflow: hidden;
  line-height: 24px;
}
.appIcon {
  background-size: 28px;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  opacity: .7;
  transition: opacity .5s ease-in;
  position: absolute;
  top: 5px;
  left: 20px;
}

.right {
  width: calc(100% - 300px);
  position: relative;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
}
.panelGrid {
  height: 940px; 
  min-width: 100%; 
  max-width: 100%; 
  position: relative;
}
.flowBox {
  background-color: white;
  box-shadow: 0 0 1px #cacaca;
}
.tile {
  color: #353535;
}
.flowBox.tile {
  position: absolute;
  box-shadow: 0 0 1px #8c8b8b, 0 0 3px 0 #8d908c;
  z-index: unset !important;
  overflow: hidden;
  margin-top: auto; 
  margin-bottom: auto;
  /*min-height: auto;*/
}
.panel {
  width: 100%;
  height: 100%;
  border: 1px ridge transparent;
  box-sizing: border-box;
}
.panelHeader {
  width: 100%;
  position: relative;
  height: 37px;
  line-height: 36px;
  vertical-align: middle;
  box-shadow: 0 2px 2px -2px #d70f37;
  cursor: move;
}
.headerName {
  padding-left: 10px;
  font-size: 17px;
  display: inline-block;
  color: rgba(35, 35, 35, .9);
}
.borderlessInput {
  box-shadow: none;
  background: rgba(255, 255, 255, 0);
  border: none;
}
.headerButtons {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  padding-top: 0;
}
.headerButtons button.factorybutton.imageButton {
  box-shadow: none;
  opacity: .3;
}
.headerButtons button.factorybutton.imageButton[disabled] {
  opacity: 0;
}
.factoryButton {
  min-width: 28px;
  min-height: 28px;
  cursor: pointer;
  background: transparent;
  border-radius: 3px;
  padding: 4px 4px;
  text-align: center;
  margin: 4px 4px;
  font: inherit;
  vertical-align: middle;
  line-height: 18px;
  border: 0 transparent;
  position: relative;
}
.buttonIcon {
  background-repeat: no-repeat;
  background-size: 18px;
  width: 18px;
  height: 18px;
  background-position: 0;
  line-height: 0;
  display: inline-block;
}

.clockPanel {
  text-align: center;
  font-size: 24px;
  margin-top: 13%;
  color: gray;
}

.clockPanel p {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c0c1c1;
}

[data-row="1"] {
  top: 10px;
}
[data-col="1"] {
  left: 10px;
}
[data-col="2"] {
  left: 327px;
}
[data-col="3"] {
  left: 644px;
}
[data-sizex="1"] {
  width: 307px;
}
[data-sizey="1"] {
  height: 300px;
}